#profile{
    display: flex;
    flex-direction: column;
}

#profile .cover{
    height: 200px;
}

#profile .cover img{
    height: 100%;
    width: 100%;
    filter: brightness(50%);
    z-index: -1;
    background-size: cover;
    background-position: center center;
} 

#profile .content-container{
    margin-top: -70px;
    position: relative;
    font-size: 1.8rem;
    display: flex;    
    flex-direction: row;
    gap: 20px;
    min-width: 100%;
}

#profile .sidebar{
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
}

#profile .bar{
    display: none;
}

#profile .sidebar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 30px;
}

#profile .sidebar h5 {
    font-size: 2.2rem;
    font-weight: bolder;
    text-transform: capitalize;
}

#profile .sidebar span {
    font-size: 1.5rem;
    color: var(--sub-text-color);
    text-align: center;
    text-transform: lowercase;
}

#profile .sidebar button {
    background: none;
    padding: 10px 5px;
    border-bottom: 1px solid rgba(155, 151, 151, 0.205);
}

#profile .sidebar button:hover {
    background: rgba(155, 151, 151, 0.205);
    
} 
#profile .sidebar button:nth-last-child(1){
    border-bottom: none;
}

#profile .content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#profile .content h5{
    font-size: 3rem;
    color: #fff;
    height: 60px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-weight: bolder;
}

#profile .content .heading{
    background: #fff;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 15px;
    border-radius: 5px;
}

#profile .content .actual-content{
    padding-top: 20px;
    background: #fff;
    border-radius: 8px;
}

#profile .content .actual-content .inputs-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: 1px solid rgba(155, 151, 151, 0.205);
    padding-bottom: 50px;
}

#profile .content .actual-content .inputs-container input{
    padding: 10px;
    background: rgba(155, 151, 151, 0.205);
    border-radius: 10px;
    margin: 0 15px;
    text-transform: none;
}

#profile .content .actual-content .inputs-container input::placeholder{
    font-size: 1.5rem;
    text-transform: capitalize;
}

#profile .content .actual-content form button{
    background: var(--secondary-color);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    text-transform: capitalize;
    color: #fff;
    font-size: 2rem;
    float: right;
}


@media(max-width:48rem){
    #profile .bar{
        display: block;
    }

    #profile .content-container{
        display: block;
    }

}