#offers{
    padding-top: 60px;
}

.offer-container{
    background: var(--second-cards-color);
    gap: 30px;

}

.offer-container .offer-container-heading{
    padding-top: 9px;
}

.offer-container .offer-container-heading span{
    font-size: 1.5rem;
    text-transform: capitalize;
    color: var(--secondary-color);
}
.offer-container .offer-container-heading p{
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: bolder;
    margin: 0;
}
.offer-container .offer-container-body{
   height: fit-content;
   width: 20vw;
}

.offer-container .offer-container-body img{
    height: 150px;
    width: 100%;
    border-radius: 20px;
}

.offer-container .offer-container-body button{
    position: relative;
    bottom: 42px;
    left: 50px;
    font-size: 2rem;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 5px;
    text-transform: capitalize;
    padding: 5px;

}