.product-heading-container{
    background: var(--second-cards-color);
    border-radius: 8px;
    padding: 9px;
}

.product-heading-container span{
    font-size: 1.5rem;
    text-transform: capitalize;
    color: var(--secondary-color);
} 

.product-heading-container p{
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: bolder;
    margin: 0;
}

.product-heading-container button{
    background: #61ccc362;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    text-transform: capitalize;
    font-size: 1.5rem;
    width: 13rem;
    height: 5rem;
    color: var(--secondary-color);
}

.product-heading-container button:hover{
    background: var(--secondary-color);
    color: #fff;
}

.product-card {
    /* min-width: 200px;
    max-width: 200px; */
    margin: 5px;
    font-size: 1.8rem;
    height: auto;
    color: var(--primary-color);
    box-shadow: 0px 0px 31px -26px;
    background: var(--second-cards-color);
    border-radius: 9px;
    width: fit-content;
}

.product-card .image-container a{
    font-size: 3rem;
    background: #fff;
    position: relative;
    top: 7px;
    right: 25px;
    width: 30px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    padding: 2px;
    border-radius: 50%;
    box-shadow: 4px 3px 10px -5px #000;
}

.product-card .image-container a:hover{
    background: var(--secondary-color);
}

.product-card .image-container img {
    max-width: 200px;
    min-width: 150px;
    height: 150px;
    padding: 10px;
}

.product-card .product-card-body {
    height: 20%;
}

.product-card .product-card-body span{
    font-weight: bolder;
    text-transform: capitalize;

}
.product-card .product-card-body select{
    background: rgba(128, 128, 128, 0.253);
    border-radius: 5px;
    font-size: 1.3rem;
}

.product-card .product-card-body .price{
    color: var(--secondary-color);
}
.slick-slide>div {
    margin: 0 10px;
    margin-left: 0 !important;
}

.slick-list {
    margin: 0 -10px;
}

/* .slick-next, .slick-prev{
    background: var(--body-background);
    border: 3px solid #eee;
    border-radius: 50%;
    font-size: 2rem;
    color: #000;

} */