.category-wrapper {
    box-shadow: 0px 0px 26px -13px;
    height: fit-content;
    max-height: 100%;
    overflow: auto;
    width: 25vw;
}

.expand-category {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    text-align: start;
    text-transform: capitalize;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.expand-category p {
    color: #eee;
    font-weight: bold;
    font-size: 2rem;
}

.expand-category:hover {
    background: #33a36b;
}

.categoties {
    display: none;
}

.categoties.active {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}


.categoties::-webkit-scrollbar {
    width: 0;
}



.categoties .category-container button {
    background: none;
    padding: 5px;
    text-align: start;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 400;
}

.categoties button:hover {
    background-color: rgb(207, 206, 206);
}

.categoties button img {
    height: 30px;
    width: 30px;
    border-radius: 50%;

}

.show-more-button {
    display: none;
    background-color: var(--secondary-color);
    color: #eee;
    font-weight: bold;
    font-size: 2rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    text-transform: capitalize;
}

.show-more-button.active {
    display: block;
}

.show-more-button:hover {
    background: #33a36b;
}


@media(max-width:1000px) {
    .category-wrapper {
        width: 40px;
    }

    .expand-category {
        border-radius: 5px;
        width: 100%;
    }


    
    .categoties.active {
        position: absolute;
        top: 130px;
        z-index: 3;
        background: #fff;
        width: 50vw;
        max-height: 300px;
        overflow-y: scroll;
        box-shadow: 19px 20px 11px -15px;
    }

    .show-more-button {
        display: none;
    }

}

@media(max-width:425px) {
    .category-wrapper {
        width: 30px;
    }

    .categoties.active {

        position: absolute;
        top: 99px;
        z-index: 3;
        background: #fff;
        width: 50vw;
        max-height: 300px;
        overflow-y: scroll;
    }
    .show-more-button {
        display: none;
    }
}