@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
  --green: #27ae60;
  --black: #2c2c54;
  --blue: #0047AB;
  --orange: #ff7800;
  --yellow: #FFFF2E;
  --light-color: #666;
  --red: #D22B2B;

  --color: #009c8e;
  --boxSize: 8px;
  --gutter: 8px;
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

*::selection {
  background: var(--green);
  color: #fff;
}

html {
  font-size: 50%;
  width: 100vw;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}

/* loader */
.loader {
  width: calc((var(--boxSize) + var(--gutter)) * 5);
  height: 64px;
  margin: 50px auto;
  position: relative;
}

.loader .box {
  background: var(--color);
  width: var(--boxSize);
  height: 100%;
  margin: 0 2px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px var(--color);
  display: inline-block;
  transform: scaleY(.4);
  animation: quiet 1.2s ease-in-out infinite;
}

.loader .box:nth-child(2) {
  animation: animate 1.2s ease-in-out infinite;
}

.loader .box:nth-child(4) {
  animation: loud 1.2s ease-in-out infinite;
}

@keyframes quiet {
  25% {
    transform: scaleY(.6);
  }

  50% {
    transform: scaleY(.4);
  }

  75% {
    transform: scaleY(.8);
  }
}

@keyframes animate {
  25% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(.4);
  }

  75% {
    transform: scaleY(.6);
  }
}

@keyframes loud {
  25% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(.4);
  }

  75% {
    transform: scaleY(1.2);
  }
}



/* alert */
.alert {
  top: 1pc;
  right: 5px;
  min-width: 15pc;
  height: 50px;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.3rem;
}

.alert p {
  color: #eee;
  margin-top: 5px;
  margin-right: 15px;
  padding-left: 3px;
}

.alert button {
  background: none;
}


.alert button:hover {
  color: #eee;
}

.heading {
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  padding: 1rem;
  font-size: 3.5rem;
  padding-bottom: 2rem;
}

.heading span {
  color: var(--green);
  text-transform: uppercase;
  font-weight: bold;
}


.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--green);
  color: #fff;
  padding: .8rem 3rem;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background: var(--black);
}


.header-1 {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
}

.logo {
  color: var(--black);
  font-weight: bolder;
  font-size: 3rem;
  text-decoration: none;
}

.logo i {
  padding-right: .5rem;
  color: var(--green);
}

.header-1 .search-box-container {
  display: flex;
  height: 5rem;
}

.header-1 .search-box-container #search-box {
  height: 100%;
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  color: #333;
  border: .1rem solid rgba(0, 0, 0, .3);
  text-transform: none;
}

.header-1 .search-box-container label {
  height: 100%;
  width: 8rem;
  font-size: 2.5rem;
  line-height: 5rem;
  color: #fff;
  background: var(--green);
  text-align: center;
  cursor: pointer;
}

.header-1 .search-box-container label:hover {
  background: var(--black);
}


/* Geolocation */
.header-1 div .drop-down {
  position: absolute;
  top: 6rem;
  right: 9rem;
  min-width: 35rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: .5rem;
  background: #fff;
  text-align: center;
  transition: .4s linear;
  z-index: 300;
}

#locationDropdown button {
  font-size: 2rem;
}


#locationDropdown div input {
  font-size: 2rem;
}

#locationMapTitle {
  background: var(--green);
  color: #eee;
}

#locationMapTitle h5 {
  font-size: 2rem;
}

#locationMapAddress {
  font-size: 2rem;
}

#locationMapConfirm button {
  font-size: 2rem;
}

.header-2 {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 7%;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  position: relative;
}

.header-2.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}


.header-2 .navbar.active {
  z-index: 300;
  position: absolute;
}

.header-2 .navbar a {
  padding: .5rem 1.5rem;
  font-size: 2rem;
  border-radius: .5rem;
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

.header-2 .navbar a:hover {
  background: var(--green);
  color: #fff;
}

.header-2 .icons button {
  font-size: 2.5rem;
  color: var(--black);
  padding-left: 2rem;
  background: none;
}

.header-2 .icons button:hover {
  color: var(--green);
}


#menu-bar {
  font-size: 2rem;
  color: var(--black);
  border-radius: .5rem;
  border: .1rem solid var(--black);
  text-align: center;
  padding: 1.3rem 1.5rem;
  cursor: pointer;
  display: none;
}

.header-2 .login-form {
  position: absolute;
  top: 110%;
  right: 0;
  min-width: 35rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: .5rem;
  background-image: radial-gradient(circle at center center, rgb(10, 133, 202), rgb(23, 106, 192), rgb(35, 79, 183), rgb(48, 51, 173), rgb(60, 24, 163));
  text-align: center;
  transition: .4s linear;
  z-index: 300;
}

.header-2 .login-form.active {
  right: 3rem;
  transition: .4s linear;
}

.header-2 .login-form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #eee;
}

.header-2 .login-form .login-btn {
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 3rem;
  font-size: 1.9rem;
  border-radius: .5rem;
  color: #fff;
  cursor: pointer;
  background: var(--green);
}

.header-2 .login-form .login-btn:hover {
  background: var(--black);
  color: #fff;
}

.header-2 .login-form .PhoneInput .PhoneInputInput {
  background: none;
  color: #eee;
  border-bottom: 1px solid #000;
}

.header-2 .login-form .PhoneInput .PhoneInputInput::placeholder {
  color: #eee;
}

.header-2 .login-form p {
  font-size: 1.4rem;
  padding: .5rem 0;
  color: #eee;
}

.header-2 .login-form p a {
  color: var(--yellow);
  text-decoration: underline;
  text-align: center;
  font-style: italic;
}

.header-2 .login-form p input {
  margin-right: 1rem;
  height: 15px;
  width: 15px;
}

.header-2 .login-form .otp-container {
  margin: 2rem;
  font-size: 2rem;
}

.header-2 .login-form .resend-container {
  font-size: 2rem;
  color: #fff;
  padding: 9px 3rem;
}

.header-2 .login-form .resend-container button {
  background: none;
  text-decoration: underline;
  color: #eee;
}

#dropdownDelivery {
  font-size: 2rem;
  max-width: 12pc;
  overflow-x: auto;
}


/* profile */

.header-2 .login-form .button-container {
  display: flex;
  justify-content: space-evenly;
}

.header-2 .login-form .button-container button {
  padding: 3px 2rem;
  font-size: 2rem;
  color: #eee;
  border-radius: .8rem;
}

.header-2 .login-form img {
  border-radius: 50%;
  border: 2px solid #eee;
}

.header-2 .login-form h2 {
  padding: 5px;
  font-size: 2.5rem;
  color: #eee
}

.header-2 .login-form #change-image {
  position: relative;
  top: 64px;
  right: 50px;
  background: none;
  color: var(--green);
  font-size: .9rem;
  cursor: pointer;
  /* opacity: 0; */
}

.header-2 .login-form #change-image-logo {
  position: relative;
  top: 70px;
  right: 30px;
  background: none;
  color: var(--green);
  font-size: 3rem;
  cursor: pointer;

}

.header-2 .login-form input {
  width: 100%;
  display: block;
  font-size: 2rem;
  margin: 9px 3px;
  padding: 9px;
  background: none;
  border: 1px solid black;
  border-radius: 1.4rem;
  color: #eee;
}

.header-2 .login-form span {
  position: relative;
  float: left;
  /* margin-left: -10pc; */
  font-size: 1.7rem;
  color: #eee;
  text-transform: capitalize;
}

.header-2 .login-form .button-container #update-profile {
  background: var(--green);
}

.header-2 .login-form .button-container #update-profile:hover {
  background: var(--black);
}

.header-2 .login-form .button-container #logout {
  background: var(--red);
}

.header-2 .login-form .button-container #logout:hover {
  background: var(--black);
}




/* slider */


.slider {
  padding: 5px;
  margin-left: 30vw;
}

/* container of indexer of sliders */
.slider .swiper-container1 {   
  width: 100%;
  height: 100%;
}

/* container of slider images */

.slider .swiper-container2 {
  width: 100%;
  height: 100%;
}

.slider__flex {
  display: flex;
  align-items: flex-start;
}

.slider__col {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin: auto;
}

.slider__thumbs {
  height: 200px;
}

.slider__thumbs .slider__image {
  transition: 0.25s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.slider__thumbs .slider__image:hover {
  opacity: 1;
}

.slider__thumbs .swiper-slide-thumb-active .slider__image {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}

.slider__images {
  width: 55vw;
}

.slider__image {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}


.slider__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}








/* Offer */
.offer-container {
  padding: 2rem 0;
  position: relative;
  display: flex;
  background-image: linear-gradient(90deg, rgb(43, 77, 130), rgb(40, 144, 172));
}

/* .offer-container .offer-title-container {
  width: 11pc;
  text-align: center;
  background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%, rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%, rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%, rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%, rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%, rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%, rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%), linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%, rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%, rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%, rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%, rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%, rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%, rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%), linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%, rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%, rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%, rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%, rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%, rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%, rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%), linear-gradient(90deg, rgb(195, 195, 195), rgb(228, 228, 228));
  background-blend-mode: overlay, overlay, overlay, normal;
} */

.offer-container p {
  font-size: 4rem;
  color: #eee;
  text-transform: uppercase;
  font-weight: bold;
  margin: auto 20px;
  text-align: center;
  cursor: pointer;
}

.offer-container p:hover {
  color: var(--orange);
}

.offer-image-container {
  width: 88vw;

  padding: 10px 0;
}

.offer-container .offer-image-container .offer-image {
  /* height: 300;
  width: 500; */
  display: block;
  margin: auto;
  padding: 0 5px;
  cursor: pointer;
}

.offer-container .offer-image-container .offer-image:hover {
  transform: scale(1.1);
}


/* brands css is same as categories */
/* category */
.category .box-container {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  padding: 1rem 3rem;
}

.category .box-container::-webkit-scrollbar {
  width: 0;
}

.category .box-container .box {
  border: .1rem solid rgba(0, 0, 0, .3);
  border-radius: .5rem;
  text-align: center;
  padding: 2rem;
  flex: 1 1 25rem;
}

.category .box-container .box img {
  width: 20rem;
  margin: .5rem 0;
}

.category .box-container .box img:hover {
  transform: scale(1.1);
}

.category .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.category .box-container .box button {
  display: inline-block;
  margin-top: 1rem;
  background: var(--green);
  color: #fff;
  padding: .8rem 3rem;
  margin: 0 5px;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
  text-transform: capitalize;
}

.category .box-container .box button:hover {
  background: var(--black);
}

#page-wrapper {
  position: relative;
  display: flex;
  gap: 3rem;
  height: 63vh;
}

#box {
  position: relative;
  overflow: auto;
  width: 275px;
  padding: 20px 0px;
  height: 100%;
  background-color: #f6f6f6;
  color: #343838;
  display: block;
}

#items .item {
  position: relative;
  cursor: pointer;
  font-size: 2em;
  padding: 15px 30px;
  transition: all 250ms;
}

#items .item-active {
  border-right: 3px solid var(--green);
  position: relative;
  cursor: pointer;
  font-size: 2em;
  padding: 15px 30px;
  transition: all 250ms;
}

#items .item:hover {
  padding: 15px 45px;
  background-color: rgba(52, 56, 56, 0.2);
}

#items .item-active:hover {
  padding: 15px 45px;
  background-color: rgba(52, 56, 56, 0.2);
}





/* section */
/* products */
#category-bar {
  font-size: 3rem;
  position: relative;
  height: 50px;
  padding: 2rem;
  background: none;
  color: var(--green);
  display: none;
}

#close-categorybar {
  text-align: end;
  width: 100%;
  font-size: 3rem;
  padding: 0px 13px;
  background: none;
  display: none;
}

.product {
  height: inherit;
  width: 100%;
  overflow-y: auto;
  padding: 2rem;
}

.product::-webkit-scrollbar {
  width: 0;
}


.product .no-product-found {
  color: var(--red);
  font-size: 3rem;

}

.product .box-container {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  padding: 5px;
}

.product .box-container::-webkit-scrollbar {
  width: 0;
}

.product .box-container .box {
  flex: 1 1 30rem;
  text-align: center;
  padding: 2rem;
  border: .1rem solid rgba(0, 0, 0, .3);
  border-radius: .5rem;
  overflow: auto;
  min-width: fit-content;
  position: relative;
}

.product .box-container .box::-webkit-scrollbar {
  width: 0;
}


.product .box-container .box img {
  height: 20rem;
}


.product .box-container .box .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: rgba(0, 255, 0, .1);
  color: var(--green);
  padding: .7rem 1rem;
  font-size: 2rem;
}

.product .box-container .box .icons {
  position: absolute;
  top: .5rem;
  right: 1rem;
  opacity: 0;
}

.product .box-container .box:hover .icons {
  opacity: 4000;
}

.product .box-container .box .icons button {
  display: block;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  padding: 3px;
  font-size: 2.7rem;
  color: var(--black);
  background: rgba(0, 0, 0, .05);
  border-radius: 50%;
  margin: .7rem;
}

.product .box-container .box .icons button:hover {
  background: var(--green);
  color: #fff;
}

.product .box-container .box h3 {
  margin-top: 8px;
  color: var(--black);
  font-size: 2.5rem;
}

.product .box-container .box .price {
  font-size: 2rem;
  color: #333;
  padding: .5rem 0;
}

.product .box-container .box .quantity {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.product .box-container .box .quantity button {
  width: 30px;
  line-height: 30px;
  font-size: 3rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #8498a7;
  transition: background-color 100ms ease-in;
}

.product .box-container .box .quantity button:hover {
  background-color: #90a2b0;
  transition: background-color 100ms ease-in;
}

.product .box-container .box .quantity span {
  padding: 0 .7rem;
  font-size: 1.7rem;
}

.product .box-container .box .quantity input {
  border: .1rem solid rgba(0, 0, 0, .3);
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--black);
  padding: .5rem;
  background: rgba(0, 0, 0, .05);
  width: 50px;
  font-size: 2rem;
  background: none;
  border: 0;
  text-align: center;
}

.product .box-container .box .btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--green);
  color: #fff;
  padding: .8rem 3rem;
  margin: 0 5px;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
  text-transform: capitalize;
}

.product .box-container .box .btn:hover {
  background: var(--black);
}








/* footer */
.footer {
  margin-top: 3pc;
  bottom: 0;
  position: relative;
  padding: 0 3rem;
}

.footer .box-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.footer .box-container .box {
  padding: 1rem 0;
  flex: 1 1 25rem;
}

.footer .box-container .box .share a {
  padding: 5px;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 3rem;
  text-align: center;
}

.footer .box-container .box h3 {
  font-size: 2.3rem;
  color: var(--black);
}

.footer .box-container .box p {
  font-size: 1.3rem;
  color: #666;
  padding: .7rem 0;
}

.footer .box-container .box .links {
  padding: 1rem 0;
}

.footer .box-container .box .links a {
  display: block;
  padding: .5rem 0;
  font-size: 1.7rem;
  color: #333;
}

.footer .box-container .box .links a:hover {
  text-decoration: underline;
  color: var(--green);
}

.footer .credit {
  padding: 2.5rem 1rem;
  border-top: .1rem solid rgba(0, 0, 0, .1);
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
}

.footer .credit span {
  color: var(--green);
}























/* media queries */

@media(max-width:1200px) {
  html {
    font-size: 40%;
  }
}

@media(max-width:991px) {

  .header-1,
  .header-2 {
    padding: 2rem;
  }


  .home-slider {
    height: 300px;
  }

  .home-slider .slider-image {
    height: 250px;
  }

  .offer-container {
    display: block;
  }

  .offer-container p {
    text-align: center;
  }

  .offer-container .offer-image-container {
    width: 100vw;
  }

  .offer-container .offer-image {
    width: 750px;
  }
}


@media(max-width:767px) {
  #menu-bar {
    display: initial;
  }

  .header-2 .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--green);
    padding: 1rem 2rem;
    display: none;
  }

  .header-2 .navbar.active {
    display: initial;
  }

  .header-2 .navbar a {
    font-size: 2.3rem;
    display: block;
    text-align: center;
    background: var(--green);
    padding: 1rem;
    margin: 1.5rem 0;
  }

  .header-2 .navbar a:hover {
    background-color: #eee;
  }

  .offer-container .offer-image {
    height: 150px;
    width: 500px;
  }

  .header-1 div .drop-down {
    right: 1rem;
  }

  #category-bar {
    display: block;
  }

  #category-bar.active {
    display: none;
  }


  #box {
    position: relative;
    z-index: 4;
    overflow: auto;
    width: 0px;
    opacity: 0.5;
    padding: 20px 0px;
    height: 100%;
    transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    display: none;
  }

  #box.active {
    width: 275px;
    opacity: 1;
    display: block;
  }

  #close-categorybar.active {
    display: block;
  }


  .slider__flex {
    flex-direction: column;
  }

  .slider__col {
    align-items: center;
    margin-top: -40px;
    width: 100%;
  }

  .slider__images {
    width: 100%;
  }

  .slider__thumbs {
    height: 40px;
    width: 130px;
    margin: 0 16px;
  }

  .slider__thumbs .slider__image{
    width: 30px;
    height: 30px;
    border: 3px solid #eee;
  }
}

@media(max-width:450px) {
  html {
    font-size: 35%;
  }

  .header-1 {
    flex-flow: column;
  }

  .header-1 .search-box-container {
    width: 100%;
    margin-top: 2rem;
  }

  .header-1 div button {
    display: block;
    margin-top: 4rem;
  }

  .logo {
    font-size: 4rem;
  }

  .home-slider {
    height: 200px;
  }

  .home-slider .slider-image {
    height: 150px;
  }

  .offer-container .offer-image {
    height: 100px;
    width: 300px;
  }

  .header-1 div .drop-down {
    right: 0rem;
    top: 30%;
  }
}