.home-element {
    --widgets-spacing: 20px;
    padding: 15px 0px 0px 0px;
    height: fit-content;
}

.home-section {
    position: relative;
}

.section {
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order);
    align-self: var(--align-self);
}

.home-section .home-container{
    /* max-width: 1200px;
    min-height: 516px; */
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: 100%;
}

@media(max-width:75rem){
    
}

@media(max-width:30rem){
    
}